<%- include("partials/boilerplate", { title, user }); %>
  <div class="container">
    <% if(!listings.length) { %>
      <div class="error-container">
        <h3 class="error-message">
          <b>
            Create new listing to see listing here!!
          </b>
        </h3>
      </div>
      <% } else { %>
        <% for(listing of listings) { %>
          <div class="card">
            <a href="/listings/<%= listing._id %>">
              <img class="listings-img" src="<%= listing.image %>" alt="image">
              <div>
                <div>
                  <%= listing.title %>
                </div>
                <div>
                  &#8377; <%= listing.price.toLocaleString() %>
                </div>
              </div>
            </a>
          </div>
          <% } %>
            <% } %>
  </div>