<%- include("partials/boilerplate", { title }); %>
  <h3 class="heading">
    Luminious Listings!!
  </h3>
  <div class="container">
    <% for(listing of listings) { %>
      <div class="card">
        <a href="/listings/<%= listing._id %>">
          <img class="listings-img" src="<%= listing.image %>" alt="image">
          <div>
            <%= listing.title %> <br>
              &#8377; <%= listing.price %>
          </div>
        </a>
      </div>
      <% } %>
  </div>